*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  vertical-align: middle;
}

html {
  font-family: 'Noto Serif TC';
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 12px;
  }
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.specialArea {
  padding-top: 102.8px;
}

@media (max-width: 1200px) {
  .specialArea {
    padding-top: 60px;
  }
}

.specialArea .header {
  width: 100%;
  height: 102.8px;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 4px #eee;
  z-index: 100;
}

.specialArea .header .widthContainer {
  width: 1170px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.specialArea .header .widthContainer .iconbar {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialArea .header .widthContainer .iconbar ul {
  display: flex;
  height: 25px;
}

.specialArea .header .widthContainer .iconbar ul li {
  height: 100%;
  margin: 0px 12.5px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.specialArea .header .widthContainer .iconbar ul li:hover {
  color: #888;
}

.specialArea .header .widthContainer .iconbar ul .search_button {
  position: relative;
  margin: 0px 12.5px;
}

.specialArea .header .widthContainer .iconbar ul .search_button i {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.specialArea .header .widthContainer .iconbar ul .search_button input {
  width: 0px;
  height: 100%;
  position: absolute;
  right: 17px;
  border: none;
  outline: none;
  background-color: white;
  border-bottom: 1px solid #555;
  transition: .5s;
}

.specialArea .header .widthContainer .iconbar ul .search_button input:focus {
  width: 100px;
}

.specialArea .header .widthContainer .iconbar ul .search_button:hover input {
  width: 100px;
}

.specialArea .header .widthContainer .iconbar .navbar_button {
  width: 60px;
  height: 60px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.specialArea .header .widthContainer .iconbar .navbar_button.is_background {
  background: #eee;
}

.specialArea .header .widthContainer .navbar {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 123px;
  transform: translate(0%, -50%);
}

.specialArea .header .widthContainer .navbar > ul {
  display: flex;
}

.specialArea .header .widthContainer .navbar > ul > li {
  margin: 10px;
  color: #333;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.specialArea .header .widthContainer .navbar > ul > li i {
  margin-left: 4px;
}

.specialArea .header .widthContainer .navbar > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.specialArea .header .widthContainer .navbar > ul > li > ul > li {
  width: 200px;
  padding: 12px 16px;
  background-color: white;
  color: #333333;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.specialArea .header .widthContainer .navbar > ul > li > ul > li:first-child {
  background-color: transparent;
  cursor: auto;
}

.specialArea .header .widthContainer .navbar > ul > li > ul > li:hover {
  color: #eaa6a4;
}

.specialArea .header .widthContainer .navbar > ul > li:hover {
  color: #eaa6a4;
}

.specialArea .header .widthContainer .navbar > ul > li:hover > ul {
  display: block;
  color: #333;
}

.specialArea .header .widthContainer .logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.specialArea .header .widthContainer .logo img {
  height: 60px;
}

@media (max-width: 1200px) {
  .specialArea .header {
    padding-bottom: 0%;
    height: 60px;
  }
  .specialArea .header .widthContainer {
    width: 100%;
    height: 100%;
  }
  .specialArea .header .widthContainer .iconbar {
    top: 0;
    right: 0;
    transform: translate(0%, 0%);
    display: flex;
    align-items: center;
  }
  .specialArea .header .widthContainer .iconbar ul .search_button:hover input {
    width: 0px;
  }
  .specialArea .header .widthContainer .iconbar ul .connect_button {
    display: none;
  }
  .specialArea .header .widthContainer .iconbar .navbar_button {
    display: flex;
  }
  .specialArea .header .widthContainer .logo img {
    height: 44px;
  }
  .specialArea .header .widthContainer .navbar {
    display: none;
  }
}

.specialArea .scrollto_top {
  width: 34px;
  height: 34px;
  position: fixed;
  right: 37px;
  bottom: 37px;
  background: #fff;
  border: 1px solid #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

.specialArea .scrollto_top:hover {
  border: 1px solid #eaa6a4;
}

.specialArea .scrollto_top:hover i {
  color: #eaa6a4;
}

.specialArea .scrollto_top.is_show {
  z-index: 10;
  opacity: 1;
}

.specialArea .scrollto_top i {
  color: #a7a7a7;
  transition: .5s;
}

.specialArea .sidebar_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(200, 250, 150, 0.7);
  z-index: 150;
  overflow: hidden;
  display: none;
}

.specialArea .sidebar_container.sidebar_active {
  display: block;
}

.specialArea .sidebar_container .sidebar {
  width: 280px;
  height: 100vh;
  background: #fff;
  color: #333;
  overflow: auto;
  transform: translateX(-100%);
  transition: .5s;
}

.specialArea .sidebar_container .sidebar.sidebar_slideout {
  transform: translateX(0%);
}

.specialArea .sidebar_container .sidebar .navbar {
  margin-bottom: 15px;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li .text {
  padding: 15px 42px 15px 15px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  position: relative;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li .text i {
  width: 42px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li .text i.i_active {
  transform: rotate(180deg);
}

.specialArea .sidebar_container .sidebar .navbar > ul > li > ul {
  height: 0px;
  overflow: hidden;
  transition: .5s;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li > ul.ul_active {
  height: auto;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li > ul > li {
  padding: 15px 42px 15px 35px;
  font-size: 15px;
  color: #aaa;
  cursor: pointer;
}

.specialArea .sidebar_container .sidebar .navbar > ul > li > ul > li:hover {
  color: #888;
}

.specialArea .sidebar_container .sidebar .other .text {
  padding: 25px 15px 11px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #888;
  position: relative;
  cursor: pointer;
}

.specialArea .sidebar_container .sidebar .other .text:before {
  content: '';
  width: 85%;
  height: 1px;
  position: absolute;
  left: 15px;
  top: 0;
  background-color: #ddd;
}

.specialArea .sidebar_container .sidebar .other ul li {
  padding: 15px 42px 15px 15px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialArea .search_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(200, 250, 150, 0.7);
  z-index: 150;
  display: none;
}

@media (max-width: 1200px) {
  .specialArea .search_container.search_active {
    display: block;
  }
}

.specialArea .search_container .search {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 16px 11px 17px;
  background-color: white;
  display: flex;
  align-items: center;
}

.specialArea .search_container .search i {
  padding: 1px 6px;
  cursor: pointer;
}

.specialArea .search_container .search input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.specialArea .connect_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(200, 250, 150, 0.7);
  z-index: 150;
  display: none;
}

.specialArea .connect_container.connect_active {
  display: block;
}

.specialArea .connect_container .connect {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  padding: 15px;
}

.specialArea .connect_container .connect .text {
  margin-bottom: 15px;
}

.specialArea .connect_container .connect input {
  height: 38px;
}

.specialArea .connect_container .connect input, .specialArea .connect_container .connect textarea {
  width: 100%;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  outline: none;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  margin-bottom: 15px;
}

.specialArea .connect_container .connect .connect_button_container {
  text-align: right;
}

.specialArea .connect_container .connect .connect_button_container .connect_button {
  display: inline-block;
  padding: 6px 12px;
  margin-left: auto;
  border-radius: 4px;
  background-color: #eaa6a4;
  color: white;
  border: 1px solid transparent;
  font-size: 14px;
  transition: .5s;
  cursor: pointer;
}

.specialArea .connect_container .connect .connect_button_container .connect_button:hover {
  background-color: white;
  color: #eaa6a4;
  border: 1px solid #eaa6a4;
}

@media (max-width: 767px) {
  .specialArea .connect_container .connect {
    width: 98%;
  }
}

.specialArea .img_container {
  width: 100%;
  padding-bottom: 37.583333%;
  margin-top: 15px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.specialArea .category_container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.specialArea .category_container .product {
  width: 33.333333%;
  padding: 15px;
  cursor: pointer;
}

.specialArea .category_container .product .pic {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.specialArea .category_container .product .pic:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.specialArea .category_container .product .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialArea .category_container .product .info .name {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.specialArea .category_container .product .info .discount_price {
  color: #eaa6a4;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialArea .category_container .product .info .origin_price {
  margin-bottom: 5px;
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialArea .category_container .product:hover .pic:before {
  display: block;
}

.specialArea .category_container .pic_container {
  width: 33.333333%;
  padding: 15px;
}

.specialArea .category_container .pic_container .pic {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.specialArea .category_container .pic_container p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.specialArea .category_container .content {
  width: 33.333333%;
  padding: 15px;
}

.specialArea .category_container .content .title {
  padding: 10px 0px 53px 0px;
  position: relative;
}

.specialArea .category_container .content .title p {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.specialArea .category_container .content .title p span {
  line-height: 24px;
}

.specialArea .category_container .content .title:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 30px;
  background-color: #eaa6a4;
}

.specialArea .category_container .content .text .strong p {
  line-height: 24px;
  font-weight: bold;
}

.specialArea .category_container .content .text .normal p {
  line-height: 24px;
}

.specialArea .category_container .content .text .normal p span {
  line-height: 24px;
}

.specialArea .category_container .content .text .normal .height21 {
  line-height: 21px;
}

@media (max-width: 1200px) {
  .specialArea .category_container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .specialArea .category_container {
    width: 750px;
  }
  .specialArea .category_container .product {
    width: 100%;
  }
  .specialArea .category_container .pic_container {
    width: 100%;
  }
  .specialArea .category_container .content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .specialArea .category_container {
    width: 100%;
  }
  .specialArea .category_container .product {
    padding: 8px;
  }
  .specialArea .category_container .pic_container {
    padding: 8px;
  }
  .specialArea .category_container .content {
    padding: 8px;
  }
}

.specialArea .category_name_container {
  width: 1170px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 2%;
}

.specialArea .category_name_container .title {
  padding: 10px 0px 53px 0px;
  position: relative;
}

.specialArea .category_name_container .title p {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.specialArea .category_name_container .title:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 30px;
  background-color: #eaa6a4;
}

.specialArea .category_name_container .text {
  padding-left: 21px;
  font-size: 14px;
  line-height: 20px;
}

.specialArea .category_name_container .text ul li {
  list-style-position: inside;
  list-style-type: disc;
}

@media (max-width: 1200px) {
  .specialArea .category_name_container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .specialArea .category_name_container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .specialArea .category_name_container {
    width: 100%;
    padding: 0px 15px;
  }
}

.specialArea .products2 {
  width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  margin-bottom: 2%;
}

.specialArea .products2 .product_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.specialArea .products2 .product_list ul li {
  padding: 15px;
  margin-bottom: 15px;
  width: 25%;
  cursor: pointer;
}

.specialArea .products2 .product_list ul li .pic {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.specialArea .products2 .product_list ul li .pic:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.specialArea .products2 .product_list ul li .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialArea .products2 .product_list ul li .info .name {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.specialArea .products2 .product_list ul li .info .discount_price {
  color: #eaa6a4;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialArea .products2 .product_list ul li .info .origin_price {
  margin-bottom: 5px;
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialArea .products2 .product_list ul li:hover .pic:before {
  display: block;
}

.specialArea .products2 .product_page {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.specialArea .products2 .product_page ul {
  padding: 20px 0px;
  display: flex;
}

.specialArea .products2 .product_page ul li {
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.specialArea .products2 .product_page ul .opacity0 {
  opacity: 0.3;
}

.specialArea .products2 .product_page ul li:hover {
  color: #eaa6a4;
}

.specialArea .products2 .product_page ul .li_active {
  border-bottom: 2px solid #eaa6a4;
}

@media (max-width: 1200px) {
  .specialArea .products2 {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .specialArea .products2 {
    width: 750px;
  }
  .specialArea .products2 .product_list ul {
    justify-content: space-between;
  }
  .specialArea .products2 .product_list ul li {
    width: 47.905%;
  }
}

@media (max-width: 767px) {
  .specialArea .products2 {
    width: 100%;
    padding: 15px;
    margin-bottom: 0%;
  }
  .specialArea .products2 .product_list {
    padding: 0px;
  }
  .specialArea .products2 .product_list ul li {
    padding: 8px;
    width: 47.905%;
  }
}

.specialArea .footer {
  padding: 70px 0px 0px 0px;
}

.specialArea .footer .link_list {
  padding: 30px 20px;
  border-top: 1px solid #d6d6d6;
}

.specialArea .footer .link_list > ul {
  display: flex;
}

.specialArea .footer .link_list > ul > li {
  width: 33.3333333%;
  padding: 15px 30px;
}

.specialArea .footer .link_list > ul > li .title {
  margin: 10px 0px 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.24;
}

.specialArea .footer .link_list > ul > li > ul > li {
  font-size: 12px;
  color: #333;
  line-height: 1.72;
}

.specialArea .footer .link_list > ul > li > ul > li > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.specialArea .footer .link_list > ul > li > ul > li > ul > li {
  width: 30px;
  margin-right: 20px;
}

.specialArea .footer .link_list > ul > li > ul > li > ul > li img {
  width: 100%;
  cursor: pointer;
}

.specialArea .footer .link_list > ul > li > ul.link {
  cursor: pointer;
}

.specialArea .footer .link_list > ul > li > ul.link li:hover {
  color: #777;
}

.specialArea .footer .copyright {
  padding: 45px 50px;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.specialArea .footer .credit_list {
  padding: 26px 41px;
}

.specialArea .footer .credit_list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.specialArea .footer .credit_list ul li {
  height: 40px;
  padding: 0px 15px 0px 0px;
}

.specialArea .footer .credit_list ul li img {
  height: 100%;
}

@media (max-width: 992px) {
  .specialArea .footer .link_list {
    padding: 30px 20px;
    border-top: 1px solid #d6d6d6;
  }
  .specialArea .footer .link_list > ul {
    flex-direction: column;
  }
  .specialArea .footer .link_list > ul > li {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
  }
  .specialArea .footer .copyright {
    padding: 45px 35px;
  }
  .specialArea .footer .credit_list {
    padding: 26px 15px;
  }
}

@media (max-width: 767px) {
  .specialArea .footer .link_list {
    padding: 30px 15px;
  }
  .specialArea .footer .copyright {
    padding: 45px 30px;
  }
  .specialArea .footer .credit_list {
    padding: 41px 15px;
  }
}
