<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allProducts</title>
    <link rel="stylesheet" href="css/allProducts.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css'/>

    <!-- https://www.naturefruittw.com/ -->
</head>
<body>
  <div class="allProducts" id="app" ref="body" :class="{is_scrollTop: window_scrollTop > 100}">
    <div class="scrollto_top" @click="scrollTo(0)" :class="{is_show: window_scrollTop > 100}">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    <div class="sidebar_container" :class="{sidebar_active : is_sidebar}">
      <div class="sidebar" :class="{sidebar_slideout : is_slideout}">
        <div class="navbar">
          <ul>
            <li @click="routerPush('/index.html')"><div class="text">首頁</div></li>
            <li @click="routerPush('/allProducts.html')">
              <div class="text">
                商品列表
                <i class="fa fa-angle-down" :class="{i_active: is_productList}" @click.stop="is_productList = !is_productList" aria-hidden="true"></i>
              </div>
              <ul :class="{ul_active: is_productList}">
                <li>
                  所有商品
                </li>
                <li v-for="item in category_nav" :key="item.id" @click.stop="routerPush(`/category1.html?id=${item.id}`)">
                  {{item.name}}
                </li>
              </ul>
            </li>
            <li @click="routerPush('/specialArea.html')">
              <div class="text">專區</div>
            </li>
            <li @click="routerPush('/shopping.html?id=0')">
              <div class="text">
                貼心購物
                <i class="fa fa-angle-down" :class="{i_active: is_shopping}" @click.stop="is_shopping = !is_shopping" aria-hidden="true"></i>
              </div>
              <ul :class="{ul_active: is_shopping}">
                <li v-for="item in shopping_nav" :key="item.id" @click.stop="routerPush(`/shopping.html?id=${item.id}`)">
                  {{item.name}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="other">
          <div class="text">其他</div>
          <ul>
            <li @click="is_sidebar = 0; is_slideout = 0;; is_connect = 1">
              聯絡我們
                <i class="fa fa-comment" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="search_container" :class="{search_active : is_search}">
      <div class="search">
        <i class="fa fa-search" aria-hidden="true" @click="searchHandler"></i>
        <input type="text" maxlength="100" placeholder="找商品" v-model="searchStr">
      </div>
    </div>

    <div class="connect_container" :class="{connect_active : is_connect}">
      <div class="connect">
        <div class="text">聯絡我們</div>
        <input placeholder="輸入你的電子信箱" type="email" value="">
        <textarea rows="5" placeholder="輸入你的訊息。若是詢問店內特定商品，請留下商品名稱，也歡迎你留下電子信箱以外的聯絡方式，謝謝！"></textarea>
        <div class="connect_button_container">
          <div class="connect_button">發送</div>
        </div>
      </div>
    </div>

    <div class="header" :class="{is_scrollTop: window_scrollTop > 100}">
      <div class="widthContainer">
        <div class="iconbar">
          <ul>
            <!-- <li>
              <i class="fa fa-globe" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </li> -->
            <li class="search_button">
              <input type="text" maxlength="100" placeholder="找商品" v-model="searchStr">
              <i class="fa fa-search" aria-hidden="true" @click="searchHandler"></i>
            </li>
            <li class="connect_button" @click="is_connect = 1">
              <i class="fa fa-comment" aria-hidden="true"></i>
            </li>
            <!-- <li>
              <i class="fa fa-user" aria-hidden="true"></i>
            </li> -->
            <!-- <li>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </li> -->
          </ul>
          <div class='navbar_button' @click="click_navbar_button" :class="{is_background: window_scrollTop > 100}">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </div>
        </div>
  
        <div class="logo" @click="routerPush('/index.html')">
          <img src="img/logo.png" alt="">
        </div>
  
        <div class="navbar">
          <ul>
            <li @click="routerPush('/index.html')">
              首頁
            </li>
            <li @click="routerPush('/allProducts.html')">
              商品列表
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul>
                <li>
                </li>
                <li>
                  所有商品
                </li>
                <li v-for="item in category_nav" :key="item.id" @click.stop="routerPush(`/category1.html?id=${item.id}`)">
                  {{item.name}}
                </li>
              </ul>
            </li>
            <li @click="routerPush('/specialArea.html')">
              專區
            </li>
            <li @click="routerPush('/shopping.html?id=0')">
              貼心購物
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul>
                <li>
                </li>
                <li v-for="item in shopping_nav" :key="item.id" @click.stop="routerPush(`/shopping.html?id=${item.id}`)">
                  {{item.name}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="img_container" v-for="(item, index) in banner" :key="index" :style="{backgroundImage: `url(${item})`}"></div>

    <div class="category_container">
      <div class="text">
        <p> 席捲歐美的Detox Water風潮延燒至全亞洲，身為韓國人的闆娘潽英發現，居住在台灣的我們擁有最豐富、最新鮮、最香甜的水果，想喝到天然健康的果乾水不用特別出國或請人代購。 </p>
        <p>&nbsp;</p>
        <p> 淡果香From Nature全系列手工製程，採用平行熱風乾燥法，保留新鮮水果的原有養分；堅持不添加人工色素、香料、防腐劑，再加上新鮮瓜果與草本植物的細膩搭配，讓喝水變成一種愛不釋手的好習慣。 </p>
        <p>&nbsp;</p>
        <p> 淡果香From Nature貼心的為您挑選烘製當季的新鮮水果，針對忙碌的上班族、愛喝人工化學飲料的孩童、怕喝茶會睡不著的銀髮族、需大量補充水分及營養成份的孕媽咪、以及所有年齡層不愛喝水的您所設計，天然、健康、方便、安心的果乾水第一品牌──淡果香From Nature於是誕生。 </p>
      </div>
      <div class="video" v-html="video"></div>
    </div>

    <div class="products" v-for="item in category_nav" :key="item.index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="product_list">
        <ul>
          <li v-for="(item2, index2) in product[item.id]" :key="index2">
            <div class="pic" :style="{backgroundImage: `url(${item2})`}">
            </div>
            <div class="info">
              <div class="name">【淡果香】暖薑金桔限定組(10包) </div>
              <div class="discount_price"> NT450 </div>
              <div class="origin_price"> NT490 </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer">
      <div class="link_list">
        <ul>
          <li>
            <div class="title">關於我們</div>
            <ul class="link">
              <li @click="routerPush('/about.html')">
                品牌故事  About us
              </li>
              <li @click="routerPush('/physicalStore.html')">
                寄賣資訊  Store-info
              </li>
              <li @click="routerPush('/media.html')">
                媒體推薦  Recommend
              </li>
              <li @click="routerPush('/differentIndustry.html')">
                異業合作  Cooperation
              </li>
            </ul>
          </li>
          <li>
            <div class="title link">顧客服務</div>
            <ul class="link">
              <li @click="routerPush('/shopping.html?id=1')">
                常見問題  FAQ
              </li>
              <li @click="routerPush('/shopping.html?id=2')">
                如何購買  How to buy
              </li>
              <li @click="routerPush('/shopping.html?id=3')">
                條款與細則  Terms & Conditions
              </li>
              <li @click="routerPush('/shopping.html?id=4')">
                售後服務  After-sales service
              </li>
            </ul>
          </li>
          <li>  
            <div class="title">聯絡我們</div>     	 
            <ul>
              <li>
                客服電話｜(02) 8626-3683
              </li>
              <li>
                客服信箱｜tw@naturefruittw.com
              </li>
              <li>
                服務時間｜（一）至（五）9:00~12:00 / 13:00~18:00
              </li>
              <li>
                <ul>
                  <li>
                    <img src="img/fb.png" alt="">
                  </li>
                  <li>
                    <img src="img/line.png" alt="">
                  </li>
                  <li>
                    <img src="img/ig.png" alt="">
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="copyright"> Copyright © 2020 淡果香 From Nature </div> 
      <div class="credit_list">
        <ul>
          <li>
            <img src="img/card_tw_711_pay.png" alt="">
          </li>
          <li>
            <img src="img/card_visa.png" alt="">
          </li>
          <li>
            <img src="img/card_master.png" alt="">
          </li>
          <li>
            <img src="img/card_paypal.png" alt="">
          </li>
          <li>
            <img src="img/card_unionpay.png" alt="">
          </li>
          <li>
            <img src="img/card_ecpay.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  let app = new Vue({
    el: '#app',
    data: {

      // nav
      category_nav: [
        {
          id: 1,
          name: '果乾水',
        },
        {
          id: 2,
          name: '食用果乾',
        },
        {
          id: 3,
          name: '清香果醋',
        },
        {
          id: 4,
          name: '絕搭茶飲',
        },
      ],
      shopping_nav: [
        {
          id: 1,
          name: '常見問題',
        },
        {
          id: 2,
          name: '購物流程',
        },
        {
          id: 3,
          name: '退換貨政策',
        },
        {
          id: 4,
          name: '聯絡我們',
        },
      ],


      // pic
      banner: [
        'img/carousel_2.png',
        'img/carousel_3.png'
      ],

      product: {
        1: [
          'img/product_1-1.png',
          'img/product_1-1.png',
          'img/product_1-1.png',
          'img/product_1-1.png',
        ],
        2: [
          'img/product_2-1.png',
          'img/product_2-1.png',
          'img/product_2-1.png',
          'img/product_2-1.png',
          'img/product_2-1.png',
          'img/product_2-1.png',
        ],
        3: [
          'img/product_3-1.png',
          'img/product_3-1.png',
          'img/product_3-1.png',
        ],
        4: [
          'img/product_4-1.png',
          'img/product_4-1.png',
        ],
      },

      video: '<iframe width="560" height="315" src="https://www.youtube.com/embed/gZSgmVJ7c1w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
      
      // scroll
      window_scrollTop: 0,

      // page
      product_page_active: 1,

      // sidebar
      is_sidebar: 0,
      is_slideout: 0,

      is_shopping: 0,
      is_productList: 0,

      // connect
      is_connect: 0,

      // search
      is_search: 0,
      searchStr: '',
    }, 
    methods: {
      scrollHandler(){
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        this.window_scrollTop = scrollTop;
      },
      scrollTo(targetOffsetTop) {
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop
        let step = 50;

        function move(){
          if (scrollTop > targetOffsetTop) {
            scrollTop = scrollTop - step < targetOffsetTop ? targetOffsetTop : scrollTop - step ;
          }
          else if(scrollTop < targetOffsetTop) {
            scrollTop = scrollTop + step > targetOffsetTop ? targetOffsetTop : scrollTop + step ;
          }
          else {
            clearInterval(interval);
          }
          document.body.scrollTop = scrollTop;
          document.documentElement.scrollTop = scrollTop;
        }
        let interval = setInterval(move, 10);
      },
      resizeHandler(){
        this.is_search = 0;
        this.searchStr = '';
      },
    
      click_navbar_button(){
        const vm = this;
        vm.is_sidebar = 1;
        setTimeout(function(){
          vm.is_slideout = 1;
        }, 100)
      },

      routerPush(url){
        if('/cartsWebsite' + url == location.pathname + location.search){
          return
        }
        window.open('/cartsWebsite' + url);
      },
      searchHandler(){
        if(!this.searchStr){
          this.is_search = 1;
        }
        else{
          this.is_search = 0;

          this.searchStr = '';
        }
      },
    },
    created(){
      
    },
    mounted(){
      const vm = this;
      window.addEventListener('scroll', this.scrollHandler);
      window.addEventListener('resize', this.resizeHandler);

      document.querySelector('.sidebar_container').addEventListener('click', function(e){
        if(e.target.className.indexOf('sidebar_container')>-1){
          vm.is_slideout = 0;
          setTimeout(function(){
            vm.is_sidebar = 0;
          }, 350)
        }
      })
      document.querySelector('.connect_container').addEventListener('click', function(e){
        if(e.target.className.indexOf('connect_container')>-1){
          vm.is_connect = 0;
        }
      })
      document.querySelector('.search_container').addEventListener('click', function(e){
        if(e.target.className.indexOf('search_container')>-1){
          vm.is_search = 0;
          vm.searchStr = '';
        }
      })
    }
  })
</script>
</body>
</html>